[Desktop Entry]
Exec=/usr/bin/deepin-home
GenericName=Message
Icon=deepin-home
Name=Deepin Home
Type=Application
X-Deepin-TurboType=dtkqml

# Translations:
# Do not manually modify!
GenericName[zh_CN]=消息
Name[zh_CN]=深度之家

