Source: deepin-home
Section: admin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 pkg-config,
 qt6-base-dev,
 qt6-declarative-dev,
 libdtk6core-dev,
 libdtk6gui-dev,
 libdtk6declarative-dev,
 qt6-l10n-tools,
 qtchooser,
 qml6-module-qtquick-controls,
 qml6-module-qtquick-dialogs,
 qml6-module-qtquick-layouts,
 libssl-dev,
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: deepin-home
Architecture: any
Depends: 
 ${shlibs:Depends}, 
 ${misc:Depends},
 qml6-module-qtquick-controls,
 qml6-module-qtquick-dialogs,
 qml6-module-qtquick-layouts,
 inxi,
Description: deepin home
 quick login bbs, bug report.
